.prog-bar {
  padding: 30px;
  display: flex;
  align-items: center;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease 0s;
  margin-bottom: 10px;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: var(--main-color);
}

.CircularProgressbar .CircularProgressbar-text {
  fill: var(--txt-color);
}
