.pid-dig {
  padding: 30px;
  display: flex;
  align-items: center;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease 0s;
  margin-bottom: 30px;
}
#PID {
  width: 100%;
  height: 600px;
  top: 0;
  left: 0;
}
.cls-1 {
  fill: none;
  stroke: var(--txt-color);
  stroke-miterlimit: 10;
  stroke-width: 6px;
}
.cls-2 {
  font-size: 40px;
  font: "Roboto";
  font-weight: 800;
  stroke: none;
  fill: var(--txt-color);
}
.cls-3 {
  font-size: 40px;
  font: "Roboto";
  font-weight: 800;
  stroke: none;
  fill: var(--txt-color);
}
.active {
  fill: var(--main-color);
  stroke-width: 4px;
}
