.updatePasswordForm {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0%;
  left: 0%;
}
.updatePasswordForm > div {
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  margin: 4vmax;
  width: 85%;
  height: 50vh;
  flex-direction: column;
}
.updatePasswordBtn {
  background-color: var(--main-bg);
  border: 1px solid var(--second-color);
  color: var(--txt-color);
  font: 400 1vmax "Roboto";
  width: 50%;
  padding: 0.8vmax;
  margin-left: 16vmax;
  margin-bottom: 4vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: var(--border-radius);
  outline: none;
  box-shadow: var(--box-shadow);
}

.updatePasswordBtn:hover {
  background-color: var(--main-color);
  color: black;
}

.updatePassword > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--main-color);
  border-radius: var(--border-radius);
  font: 400 1vmax cursive;
  outline: none;
  color: var(--txt-color);
  background-color: var(--main-bg);
}
.updatePassword > svg {
  position: absolute;
  transform: translateX(1vmax) translateY(0.5vmax);
  font-size: 2.5vmax;
  color: var(--main-color);
}
