.userContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 80vh;
  top: 0%;
  left: 0%;
}
.userContainer > div {
  display: flex;
  margin: 4vmax;
  padding-left: 8vmax;
  width: 100%;
  height: 65vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userContainer > div:first-child > img {
  width: 100%;
  height: 80%;
  border-radius: 100%;
  transition: all 0.5s;
  box-shadow: var(--box-shadow);
}
.userContainer > div:first-child > img:hover {
  transform: scale(1.05);
}
.userContainer > div:last-child {
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 6vmax;
  box-sizing: border-box;
}
.userContainer > div:last-child > div > h4 {
  color: var(--txt-color);
  font: 600 2vmax "Roboto";
}

.userContainer > div:last-child > div > p {
  color: var(--txt-color);
  font: 500 1.5vmax cursive;
  margin: 1vmax;
}

.userContainer > div:last-child > div:last-child {
  display: flex;
  flex-direction: column;
  width: 60%;
}
